<!-- <footer> -->
<div class="bottom-bar-wrapper">


    <div class="logo-link-container">
        <img class="layfans-logo" src="/imgs/layfans.PNG" alt="layfans-logo"></img>
        <div class="text-container">
            <p>Presented by the </p>
            <p>LayFan's Terms Podcast</p>
        </div>
        <a class="spotify-link"
            href="https://open.spotify.com/show/0JR0L4rs45EyJngvZHgStk?go=1&sp_cid=1fdde071464fffa4d5fc69b7717d300d&utm_source=embed_player_p&utm_medium=desktop&nd=1">
            <img class="spotify-logo" src="/imgs/Spotify_icon.svg" alt="spotify-logo">
        </a>
    </div>
</div>
<!-- </footer> -->