<%- include('header') %>

<div class="banner">
    <div class="content">
        <%- include("nav") -%>
        <div class="info-container">
            <form class="login-form" action="/changepassword" method="post">
                <label for="oldpassword">Old Password</label>
                <input type="password" placeholder="Enter Old Password" name="oldpassword" required>
                <label for="newpassword"><b>New Password</b></label>
                <input type="password" placeholder="Enter New Password" name="newpassword" required>
                <label for="confirmnewpassword"><b>Confirm New Password</b></label>
                <input type="password" placeholder="Confirm New Password" name="confirmnewpassword" required>
                <input class="login-btn" type="submit" value="Change Password"></input>
            </form>

        </div>
        <%- include('bottomsponsorbar') %>
    </div>
</div>


<%- include('footer') %>