<script>
    function myFunction() {
        var x = document.querySelector(".navbar-links-container");
        if (x.className === "navbar-links-container") {
            x.className += " responsive";
        } else {
            x.className = "navbar-links-container";
        }
    }
</script>


</body>

</html>