<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickel Classic</title>
    <link rel="icon" type="image/x-icon" href="/imgs/ballicon.png">
    <link rel="preload" href="https://fonts.gstatic.com//s/tangerine/v17/Iurd6Y5j_oScZZow4VO5srNZi5FN.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/76f179c433.js" crossorigin="anonymous"></script>
</head>

<body>