<%- include("header") -%>
<div class="banner">

    <div class="content">
        <%- include("nav") -%>
        <div class="info-container">
            <p>Founded in 2021, the Pickel Golf Classic has quickly become one of the premiere events for amateur
                golfers in
                middle Tennessee.
                This year, the tournament will be returning to beautiful Greenbrier, TN at the historic Oak Hills Golf
                Course.
                We are expecting a record turnout, so be sure to secure your spot in this year's field as soon as
                possible!
            </p>
            <p>Registration for the tournament will include a $100 per person entry fee, which covers the cost of greens
                fees, cart fees, a t-shirt, taxes, etc. associated with participating on Saturday, August 24th and
                Sunday, August 25th.
                Golfers must participate both days of the tournament.
                This fee is 100% refundable up to 48 hours prior to the tournament start time of 9 AM.
            </p>
            <p>If there is enough interest, there will be additional rounds scheduled for that Friday and Monday. Please
                indicate if you would like to play on these days during your registration. These rounds will not be
                included in the tournament fees or scoring and will be optional.
            </p>
            <ul class="tournament-details">
                <li>Date: Saturday August 24th and Sunday August 25th</li>
                <li>Location: Oak Hills Golf Course, Greenbrier TN</li>
                <li>Cost: $100 (Covers Greens/Cart Fees/T-Shirt In Advance)</li>
            </ul>
            <a href="/register">
                <button class="register-link-button">
                    Register Today!
                </button>
            </a>
        </div>
        <%- include('bottomsponsorbar') %>
    </div>
</div>


<%- include("footer") -%>