<%- include("header") -%>

<div class="banner">
    <div class="content">
        <%- include("nav") -%>
        <div class="info-container">
            <p>Thank you for submitting your registration details! To complete your registration, please pay Donnie
                Pickel
                on Venmo. Please allow 48 hours for your payment status to change.</p>
            <img class="qr-img" src="/imgs/image0.png" alt="qr code"><img>
            <a href="https://venmo.com/u/Donnie-Pickel">Link to Venmo Profile</a>
            <a href="/mydetails"><button class="register-link-button">
                    Finish Registration
                </button>
            </a>
        </div>
        <%- include('bottomsponsorbar') %>
    </div>
</div>


<%- include("footer") -%>