<%- include('header') %>

<div class="banner">
    <div class="content">
        <%- include("nav") -%>
        <div class="info-container">
            <p>Please enter the email address associated with your account along with the reset code you
                received in your email. Enter a new password for your account.</p>
            <form class="login-form" action="/resetpassword" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter email address">
                <label for="resetCode"><b>Reset Code</b></label>
                <input type="password" placeholder="Enter Reset Code" name="resetCode" required>
                <label for="newPassword"><b>New Password</b></label>
                <input type="password" placeholder="Enter New Password" name="newPassword" required>
                <label for="confirmNewPassword"><b>Confirm New Password</b></label>
                <input type="password" placeholder="Confirm New Password" name="confirmNewPassword" required>
                <input class="login-btn" type="submit" value="Change Password"></input>
            </form>

        </div>
        <%- include('bottomsponsorbar') %>
    </div>
</div>


<%- include('footer') %>