<%- include("header") -%>


<body>
    <div class="welcome-banner">
        <h2 class="event-sub-title">The 5th Annual</h2>
        <h1 class="event-title"">Pickel Golf Classic</h1>
        <p class=" detail-line">Saturday, March 29th -
            Sunday, March 30th
            <p class="detail-line">Oak Hills Golf Course - Greenbrier, TN</p>
    </div>
</body>

</html>

</body>

</html>